.am-c-actions {
  display: flex;
  justify-content: center;
  gap: var(--divider-gap);
  padding: var(--panel-margin);

  .am-c-button-group {
    display: flex;
    justify-content: center;
    gap: var(--divider-gap);
  }

  .am-c-button-wrapper--wide {
    display: flex;
    flex: 1 1 0;
  }

  .am-c-map-button--primary,
  .am-c-map-button--tertiary {
    width: 100%;
  }
}

.am-o-app--tablet, .am-o-app--desktop {
  .am-c-actions {
    min-width: 280px;
  }
}