// Avoid screen flicker on refresh
.fm-html {
    height: 100vh;
}

.fm-js-hidden {
    visibility: hidden;
}

.fm-js-body {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

// Main
.fm-o-container {
    position:fixed;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    background-color:var(--background-colour);
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x pan-y;
    
    p, dd, dt {
        color: var(--foreground-colour);
    }
}

.fm-tablet.fm-o-container,
.fm-desktop.fm-o-container {
    flex-direction: row;
}

// MediaQuery (from tablet)
.fm-hybrid.fm-tablet.fm-o-container,
.fm-hybrid.fm-desktop.fm-o-container,
.fm-inline.fm-o-container {
    position: relative;
    z-index: auto;
    top:auto;
    bottom:auto;
    left:auto;
    right:auto;
    border: 1px solid var(--border-colour);
    overflow: visible;
    clip-path: inset(0 0 0 0);
}

.fm-o-main {
    position: relative;
    height: 100%;
    width: 100%;
}

.fm-o-side {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 3;
    background-color: var(--background-colour);
    flex-shrink: 0;
}

.fm-desktop .fm-o-side {
    clip-path: inset(0 -1px 0 0);
    box-shadow: $panel-shadow;
}

.fm-o-viewport {
    position: absolute;
    width: 100%;
    height: 100%;
    outline: 0;
    background-color: var(--background-colour);
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);

    &.fm-u-focus-visible::after {
        @include focus($offset: 3px);
        border-radius: 0;
    }
}

// Medium text
.fm-o-viewport--medium .fm-o-map-container {
    width: 66.66%;
    height: 66.66%;
}

.fm-o-viewport--medium.fm-u-focus-visible .fm-o-map-container::after {
    right: calc(3px - 100%);
    bottom: calc(3px - 100%);
}

.fm-o-viewport--medium .maplibregl-canvas-container {
    overflow: visible;
    transform-origin: top left;
    transform: scale(150%);
}

.fm-o-viewport--medium .fm-o-map-container .fm-c-marker__inner {
    transform-origin: center;
    transform: scale(66.66%);
}

// Large text
.fm-o-viewport--large .fm-o-map-container {
    width: 50%;
    height: 50%;
}

.fm-o-viewport--large.fm-u-focus-visible .fm-o-map-container::after {
    right: calc(3px - 100%);
    bottom: calc(3px - 100%);
}

.fm-o-viewport--large .maplibregl-canvas-container {
    overflow: visible;
    transform-origin: top left;
    transform: scale(200%);
}

.fm-o-viewport--large .fm-o-map-container .fm-c-marker__inner {
    transform-origin: center;
    transform: scale(50%);
    -webkit-font-smoothing: subpixel-antialiased;
}

.fm-o-map-container {
    width: 100%;
    height: 100%;
}

.fm-o-inner {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.fm-o-inner > .fm-c-panel--legend,
.fm-o-inner > .fm-c-panel--help,
.fm-o-inner > .fm-c-panel--edit {
    clip-path: inset(0 -20px 0 0);
    height: 100%;
}

.fm-o-top__column:first-child > .fm-c-panel {
    position: absolute;
    left: $margin;
    top: calc(40px + ($margin * 2));
    max-height: calc(100% - (110px + $margin));
}

.fm-o-inner--inset > .fm-c-panel--legend { 
    height: auto;
    clip-path: none;
    bottom: auto;
}

.fm-o-top {
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: $margin;
    pointer-events: none;

    &__column:first-child {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-grow: 1;
        flex-basis: 0;
    }

    &__column:last-child {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0;
    }

    .fm-c-tooltip {
        display: inline-block;
    }
}

.fm-o-top__column:last-child .fm-c-tooltip {
    margin-left: auto;
}

.fm-tablet .fm-o-top__column:last-child,
.fm-desktop .fm-o-top__column:last-child {
    position: relative;
    z-index: -1;
}

.fm-draw .fm-o-top__column:nth-child(2) {
    padding-left: 10px;
    padding-right: 10px;
}

.fm-draw .fm-o-inner .fm-o-focus-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: transparent;
    visibility: visible;
}

.fm-o-viewport-controls {
    display: flex;
}

.fm-o-buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    pointer-events: none;
    width: 95px;
    padding: 5px;
}

.fm-tablet .fm-o-buttons,
.fm-desktop .fm-o-buttons {
    margin-bottom: calc($margin + 25px);
}

.fm-o-middle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
}

.fm-o-bottom {
    margin-top: auto;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 0;
    flex-grow: 1;
    z-index: 4;
}

.fm-o-footer {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-shrink: 1;
    align-items: end;
    justify-content: space-between;
    padding: 0 calc($margin - 5px) calc($margin - 5px);
    width: 100%;
    -webkit-align-items: flex-end;
    z-index: 2;
}

.fm-o-attribution {
    pointer-events: auto;
}

.fm-tablet .fm-o-attribution,
.fm-desktop .fm-o-attribution {
    position: absolute;
    bottom: 0;
    right: 0;
}

.fm-o-logo,
.fm-o-scale {
    flex-grow: 1;
    flex-basis: 0;
}

.fm-o-actions {
    .fm-c-btn {
        margin: calc($margin / 2);
    }

    &--has-actions {
        display: flex;
        justify-content: center;
        background-color: var(--background-colour);
        box-shadow: $panel-shadow;
        padding: calc($margin / 2);
    }
}

.fm-tablet .fm-o-footer,
.fm-desktop .fm-o-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.fm-tablet .fm-o-bottom,
.fm-desktop .fm-o-bottom {
    z-index: -1;
}

.fm-o-top__column:first-child .fm-c-tooltip {
    display: inline-block;
    margin-right: 10px;
}

// Panels
.fm-o-main > .fm-c-panel {
    position: absolute;
    left: auto;
    right: auto;
    bottom: 0;
}

.fm-mobile .fm-o-main > .fm-c-panel.fm-u-focus-visible::after {
    @include focus($offset: 3px);
}

.fm-tablet .fm-o-main > .fm-c-panel,
.fm-desktop .fm-o-main > .fm-c-panel {
    left: auto;
    top: $margin;
    right: $margin;
    bottom: auto;
}

// Side panel
.fm-desktop .fm-o-side .fm-c-panel {
    background-color: transparent;
    box-shadow: none;
    min-height: 0;
}

.fm-o-side .fm-c-btn--exit + .fm-c-panel--legend {
    border-top: 1px solid var(--border-colour);
}

.fm-o-side .fm-c-btn--exit {
    margin: 3px;
    width: auto;
}

.fm-o-side .fm-c-btn--exit.fm-u-focus-visible,
.fm-o-side .fm-c-btn--exit:hover.fm-u-focus-visible {
    @media (hover: hover) and (pointer: fine) {
        background-color: $govuk-focus-colour;
        border-color: $govuk-focus-colour;
        color: $govuk-text-colour;
        box-shadow: 0 2px var(--foreground-colour);
    }

    &::after {
        content: none;
    }
}

.fm-o-top .fm-c-btn--exit .fm-c-btn__label {
    @include visually-hidden;
}

.fm-o-bottom > .fm-c-panel.fm-u-focus-visible::after {
    @include focus($offset: 3px);
}

.fm-o-buttons .fm-c-btn--legend {
    padding: 10px;

    span {
        @include visually-hidden;
    }

    svg {
        margin-right: 0;
    }
}

// Panel fixed width
.fm-o-top .fm-c-panel:not(.fm-c-panel--viewport-label) {
    width: $panel-width;
}

// Draw constraint
.fm-mobile .fm-o-bottom .fm-c-panel--warning-panel {
    margin-bottom: $margin;
}

.fm-tablet .fm-c-panel--warning-panel,
.fm-desktop .fm-c-panel--warning-panel {
    width: $panel-width;
}

// Panel full height
.fm-o-middle .fm-c-panel--legend,
.fm-o-middle .fm-c-panel--help {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: $panel-width;
}

// Mobile bottom panels
.fm-mobile .fm-o-bottom .fm-c-panel {
    min-height: 0;
}

// Style panel
.fm-c-panel--style {
    top: auto;
    bottom: 0;
}

.fm-tablet .fm-c-panel--style,
.fm-desktop .fm-c-panel--style {
    top: $margin;
    right: calc(40px + ($margin * 2));
    bottom: auto;
}

// Edit panel
.fm-tablet .fm-o-middle .fm-c-panel--edit,
.fm-desktop .fm-o-middle .fm-c-panel--edit {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
}

.fm-c-panel--edit {
    top: auto;
    bottom: 0;
}

// Keyboard panel
.fm-c-panel.fm-c-panel--keyboard,
.fm-c-panel.fm-c-panel--error {
    max-width: calc(100% - ($margin * 2));
}

// Button shadows
.fm-o-top__column > .fm-c-btn,
.fm-o-top__column > .fm-c-tooltip .fm-c-btn,
.fm-o-top__column > .fm-c-zoom,
.fm-o-top__column > .fm-o-viewport-controls {
    box-shadow: $button-shadow;
}

.fm-c-tooltip--help {
    margin-bottom: 10px;
}

.fm-c-tooltip--location,
.fm-c-tooltip--edit {
    margin-top: 10px;
}

.fm-mobile .fm-c-tooltip--search {
    margin-bottom: 30px;
}

// Viewport focus
.fm-o-viewport.fm-u-focus-visible ~ .fm-o-inner {
    .fm-o-viewport-controls,
    .fm-o-top__column:first-child,
    .fm-o-top__column:last-child {
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
    
    > .fm-c-panel:not(.fm-c-panel--viewport-label) {
        opacity: 0;
    }

    .fm-c-panel--viewport-label {
        display: block;
    }
}

.fm-o-viewport.fm-o-viewport--has-shortcuts.fm-u-focus-visible .fm-c-marker--shortcut {
    display: block;
}

// Rendering issues