.fm-c-marker {
    position: absolute;
    display: none;
    left: 0;
    top: 0;

    svg {
        display: block;
    }
}

.fm-c-marker--visible {
    display: block;
}

// stylelint-disable declaration-no-important
.fm-c-marker--centre {
    transform: translate(-50%, -50%) !important; // Need to overide provider inline style
    left: 50%;
    top: 50%;
}
// stylelint-enable declaration-no-important

// Geolocation
.fm-c-marker--location .fm-c-marker__inner {
    border-radius: 100%;
    box-shadow: $button-shadow;
    color: currentcolor;
}

// Marker
.fm-c-marker--target {
    z-index: 2;
    color: #505a5f;

    circle {
        stroke-dasharray: 4 2;
    }

    &.fm-c-marker--has-data {
        color: #0b0c0c;

        circle {
            stroke-dasharray: none;
        }
    }
}

.fm-o-viewport--dark-basemap .fm-c-marker--target {
    color: #b1b4b6;
}

.fm-o-viewport--dark-basemap .fm-c-marker--target.fm-c-marker--has-data {
    color: #ffffff;
}

// Overlay target marker
.fm-o-viewport > .fm-c-marker--target {
    width: 69px;
    height: 69px;
    left: 50%;
    top: 50%;
    margin-left: -34.5px;
    margin-top: -34.5px;
    pointer-events: none;
}

.fm-o-viewport--large > .fm-c-marker--target {
    left: 100%;
    top: 100%;
}

// Shortcut marker
.fm-c-marker--shortcut {
    font-family: monospace;
    background:  var(--background-colour);
    border: 2px solid var(--foreground-colour);
    color: var(--foreground-colour);
    border-radius: 4px;
    box-shadow: inset 0 -1px 0 0 var(--foreground-colour);
    font-size: 0.825rem;
    line-height: 1.25rem;
    width: 1.25rem;
    text-align: center;
}

.fm-o-viewport--large .fm-c-marker--shortcut {
    font-size: 1.65rem;
}