.fm-c-menu {
    padding-top: 20px;
    padding-bottom: 15px;
    line-height: 1rem;

    &__heading {
        @include body-font(1.125rem, 400);
        color: var(--foreground-colour);
        font-weight: 700;
        margin-bottom: 0;
        padding-bottom: 15px;
    }
}

.fm-c-menu__item {
    margin-bottom: 15px;
    
    &:last-child {
        margin-bottom: 2px;
    }
}