@use '../tools/mixins' as *;

.fm-c-menu {
    padding-top: 15px;

    &__heading {
        @include body-font(16px, 700);
        color: var(--foreground-colour);
        margin-bottom: 0;
        padding-bottom: 15px;
    }
}

.fm-c-menu:not(:first-child) {
    border-top: 1px solid var(--border-colour);
}

.fm-c-menu__items {
    padding-bottom: 15px;
}

.fm-c-menu__item {
    margin-bottom: 15px;
    
    &:last-child {
        margin-bottom: 2px;
    }
}

.fm-c-menu .fm-c-details {
    font-weight: 700;
}