@use '../settings/shadows' as *;
@use '../tools/mixins' as *;
@use '../settings/dimensions' as *;

// Panel default (fixed)
.fm-c-panel {
    display: flex;
    flex-direction: column;
    position: relative;
    pointer-events: auto;
    outline: 3px solid transparent;
    background-color: var(--background-colour);
    box-shadow: $panel-shadow;
    border-radius: $panel-radius;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    z-index: 5;
    opacity: 1;
    transition: opacity 100ms ease;

    &.fm-u-focus-visible::after {
        @include focus($offset: 3px);
    }
}

.fm-c-panel--inset.fm-u-focus-visible::after {
    @include focus($offset: -3px);
}

.fm-c-panel[aria-modal="true"] {
    position: absolute;
    z-index: 9;
}

.fm-c-panel[aria-modal="true"] + .fm-c-panel-mask {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    backface-visibility: hidden;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 8;
}

// Panel contents
.fm-c-panel__header {
    position: relative;
    color: var(--foreground-colour);
    padding: 12px 45px 9px $margin;
    z-index: 3;
}

.fm-c-panel__heading {
    @include body-font(19px, 700);
    line-height: 1.3em;
    color: var(--foreground-colour);
    text-decoration: inherit;
    margin: 0;
    display: inline-block;
    padding: 0;
}

.fm-c-panel__more {
    padding: 0 15px;
}

.fm-c-panel__body {
    flex: 1 1 auto;
    padding: 0 15px 15px;
    overflow: auto;
    touch-action: pan-y;
    outline: 0;

    &:focus.fm-u-focus-visible::after {
        @include focus($offset: 3px);
        top: 34px;
    }
    
    p {
        @include body-font(16px, 400);
    }

}

.fm-c-panel__footer {
    border-top: 1px solid var(--border-colour);
}

// Viewport keyboard shortcuts label
.fm-c-panel--viewport-label,
.fm-c-panel--draw-constraint {
    @include body-font(16px, 400);
    position: relative;
    margin: 0 auto 5px;
    width: auto;
    border-radius: $button-radius;
    text-align: center;
    padding: 10px;
}

.fm-c-panel--viewport-label {
    display: none;
}

.fm-c-panel--draw-constraint {
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    text-align: left;

    svg {
        color: currentcolor;
        margin-right: 5px;
        flex-shrink: 0;
    }
}

.fm-mobile .fm-c-panel--draw-constraint {
    margin: $margin $margin 0;
}

.fm-tablet .fm-c-panel--draw-constraint,
.fm-desktop .fm-c-panel--draw-constraint {
    max-width: 400px;
}

// Error panel
.fm-c-panel--error {
    width: calc(100% - $margin * 2);
    max-width: 400px;
}

// Header overides
.fm-c-panel--legend:not(.fm-c-panel--inset) .fm-c-panel__header {
    border-bottom: 1px solid var(--border-colour);
}

.fm-c-panel__header.fm-c-panel__header--collapse {
    padding: 0;
}

.fm-c-panel:not([role="dialog"]) .fm-c-panel__header {
    padding-right: $margin;
}