@use '../tools/mixins' as *;
@use '../settings/colours' as *;
@use '../settings/dimensions' as *;

.fm-c-scale {
    @include body-font(16px, 400);
    position: relative;
    padding-bottom: 5px;
    margin-left: auto;
    text-align: right;

    &__label {
        text-shadow:
            -1px -1px 0 rgba($background-colour, 0.8),
            1px -1px 0 rgba($background-colour, 0.8),
            -1px  1px 0 rgba($background-colour, 0.8),
            1px  1px 0 rgba($background-colour, 0.8);
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 5px;
        width: 100%;
        background-color: $foreground-colour;
        box-shadow:
            -1px -1px 0 rgba($background-colour, 0.5),
            1px -1px 0 rgba($background-colour, 0.5),
            -1px  1px 0 rgba($background-colour, 0.5),
            1px  1px 0 rgba($background-colour, 0.5);
    }
}

.fm-c-scale--dark, .fm-c-scale--aerial {
    .fm-c-scale__label {
        color: $background-colour;
        text-shadow:
            -1px -1px 0 rgba($foreground-colour, 0.8),
            1px -1px 0 rgba($foreground-colour, 0.8),
            -1px  1px 0 rgba($foreground-colour, 0.8),
            1px  1px 0 rgba($foreground-colour, 0.8);
    }
    
    &::after {
        background-color: $background-colour;
        box-shadow:
            -1px -1px 0 rgba($foreground-colour, 0.5),
            1px -1px 0 rgba($foreground-colour, 0.5),
            -1px  1px 0 rgba($foreground-colour, 0.5),
            1px  1px 0 rgba($foreground-colour, 0.5);
    }
}