.fm-c-status {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    padding: 0 $margin;

    &__inner {
        @include body-font(16px, 400);
        padding: 15px;
        border-radius: $button-radius;
        background-color: #ffffff;
        box-shadow: $panel-shadow;
        pointer-events: auto;
        max-width: 500px;
    }
}