.fm-c-switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    outline: 3px solid transparent;
    border: 0;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    margin-bottom: 0;

    &__label {
        display: inline-block;
    }   

    &__icon {
        position: relative;
        margin-left: -10px;
        display: inline-block;
        height: 44px;
        width: 44px;
        text-indent: -5000px;
        flex-shrink: 0;
    }

    &__icon::before {
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        width: 24px;
        height: 24px;
        border: 2px solid var(--foreground-colour);
        background-color: var(--background-colour);
    }

    &:hover &__icon {
        background-color: var(--button-border-colour);
    }

    &.fm-u-focus-visible &__icon::before {
        border-width: 4px;
        outline: 3px solid transparent;
        outline-offset: 1px;
        box-shadow: 0 0 0 3px var(--focus-colour);
    }

    &[aria-checked="true"] &__icon::after {
        content: '';
        position: absolute;
        box-sizing: border-box;
        transform: rotate(-45deg);
        top: 17px;
        left: 16px;
        width: 12px;
        height: 6.5px;
        border-bottom: 3px solid var(--foreground-colour);
        border-left: 3px solid var(--foreground-colour);
    }
}