// ===================================================
// Component: LocationMarkers
// ===================================================

// 1. Base styles
.dm-c-location-marker {
  position: absolute;
  left: 0;
  top: 0;
  margin: -17px 0 0 -19px;
  pointer-events: none;
}

// 2. Elements
.dm-c-location-marker__background {
  // stroke: var(--map-overlay-halo-color);
  // stroke-width: 1;
}

.dm-c-location-marker__graphic {
  fill: var(--map-overlay-halo-color);
}

// 3. Modifiers
.dm-c-location-marker--teardrop .dm-c-location-marker__graphic {
  filter: opacity(50%) brightness(0.25);
}