:root {
    --foreground-colour: #0b0c0c;
    --secondary-colour: #1d70b8;
    --link-colour: #1d70b8;
    --link-hover-colour: #003078;
    --link-visited-colour: #4c2c92;
    --secondary-text-colour: #505a5f;
    --background-colour: #ffffff;
    --border-colour: #e7e7e7;
    --button-border-colour: #b1b4b6;
    --button-hover-colour: #f3f2f1;
    --button-background-colour: #ffffff;
    --primary-button-shadow-colour: #002d18;
    --primary-button-hover-colour: #005a30;
    --secondary-button-shadow-colour: #929191;
    --secondary-button-hover-colour: #dbdad9;
    --focus-colour: #ffdd00;
    --viewport-colour: #A9DDEF;
    --green: #00703c;
    --tooltip-background-colour: #373737;
    --query-polygon-stroke-colour: #d4351c;
}

:root .fm-o-container--dark {
    --foreground-colour: #ffffff;
    --background-colour: #373737;
    --secondary-text-colour:#b1b4b6;
    --secondary-button-hover-colour: #626B6F;
    --button-background-colour: #373737;
    --button-hover-colour: #505a5f;
    --border-colour: #505a5f;
    --link-colour: #a5c6e3; // 40% govuk blue
    --focus-colour: #1d70b8; // #837102;
    --tooltip-background-colour: #505a5f;
    --query-polygon-stroke-colour: #ffffff;
    --viewport-colour: #373737;
}



