@use '../../../scss/tools/index' as tools;

// ===================================================
// Component: Viewport
// ===================================================

// 1. Base styles

.dm-c-viewport {
    width: 100%;
    height: 100%;
    background-color: var(--background-colour);
    // -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);

    @include tools.border-focus-base(
        $is-inset: true
    );

    &__map-container {
        width: 100%;
        height: 100%;
    }
}

// 2. Elements

.dm-c-viewport__keyboard-hint {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-wrap: nowrap;

    color: var(--tooltip-foreground-color);
    background-color: var(--tooltip-background-color);
    border-radius: var(--tooltip-border-radius);
    padding: var(--tooltip-padding);
    font-size: var(--tooltip-font-size);
    line-height: 1;
}

.dm-c-viewport__keyboard-hint kbd {
    border: var(--kbd-tooltip-border);
}

.dm-c-viewport__map-container > *:first-child {
    overflow: visible;
    transform-origin: top left;
}


// ---------------------------------------------------
// Focus area: The bit of the map thats always visible
// ---------------------------------------------------

.dm-c-viewport__safezone {
  position: absolute;
  pointer-events: none;
  z-index: 1;
}


// 3. Modifiers

.dm-c-viewport--medium .dm-c-viewport__map-container {
    width: 66.66%;
    height: 66.66%;

    > *:first-child {
        transform: scale(150%);
    }
}

.dm-c-viewport--large .dm-c-viewport__map-container {
    width: 50%;
    height: 50%;

    > *:first-child {
        transform: scale(200%);
    }
}

// 4. State styles
