//
// Provider specific styles
//

.maplibregl-canvas-container canvas {
    image-rendering: pixelated;
}

// Controls
.maplibregl-control-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;

    * {
        pointer-events: auto;
    }
}

// *Not sure what this fix is?
.fm-map canvas {
    display: block;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

// Symbol container
.maplibregl-symbols {
    display: none;
}