// FloodMap css
$govuk-new-typography-scale: true;

// GOVUK Styles
// @import 'govuk-frontend/dist/govuk/all';
@import 'govuk-frontend/dist/govuk/base';
@import 'govuk-frontend/dist/govuk/core/typography';
@import 'govuk-frontend/dist/govuk/core/links';
@import 'govuk-frontend/dist/govuk/overrides/spacing';

// Componenet CSS
@import '../../src/flood-map';

// Application CSS
.fm-mobile.fm-inline.fm-o-container {
    position:fixed;
    box-sizing: border-box;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    border: 0;
    background-color:var(--background-colour);
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x pan-y;
}

.map-container {
    @include mq ($from: tablet) {
        height: 650px;
    }
}

// Disable page elements when map is fullscreen on mobile
body.js-enabled:not([data-fm-error]) {
    main > .govuk-heading-l {
        @include mq ($until: tablet) {
            display: none;
        }
    }
}