.dm-c-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--divider-gap);
  padding: var(--panel-margin);

  .dm-c-button-wrapper--wide {
    display: flex;
    flex: 1 1 0;
  }

  .dm-c-map-button--primary,
  .dm-c-map-button--tertiary {
    width: 100%;
  }
}

.dm-c-actions--border-top {
  border-top: 1px solid var(--app-border-color);
}

.dm-o-app--tablet, .dm-o-app--desktop {
  .dm-c-actions {
    min-width: 280px;
  }
}