<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Example use - Service</title>
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="assets/images/favicon.ico" type="image/x-icon">
    <meta name="description" content="Example use">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    <meta name="robots" content="noindex, nofollow">
    <link href="/public/css/flood-map.css" rel="stylesheet" media="all">
  </head>
  <body>
    <script>
      document.body.classList.add('fm-js-hidden')
    </script>
    <main style="padding: 20px">
      <h1 class="govuk-heading-l">Map component</h1>
      <p class="govuk-body">A map component with a focus on accessibility</p>
      <noscript>
        <div class="fm-error">
          <p class="govuk-body">Your device is not supported. A map would be a available with JavaScript enabled.</p>
        </div>
      </noscript>
      <div class="map-container" id="map"></div>
    </main>
    <script src="/public/js/flood-map.js"></script>
    <script>
      const fm = new defra.FloodMap('map', {
        behaviour: 'hybrid', // 'buttonFirst | inline',
        place: 'Carlisle',
        zoom: 4,
        minZoom: 4,
        maxZoom: 10,
        center: [-2.938769, 54.893806],
        // bounds: [-2.989707, 54.864555, -2.878635, 54.937635],
        hasGeoLocation: true,
        height: '600px',
        transformRequest: function(url, resourceType) {
          if (resourceType === 'Style' && url.startsWith('https://api.maptiler.com')) {
            url = `${url}?key=<%= MAPTILER_API_KEY %>`
          }
          return { url }
        },
        transformSearchRequest: function(url) {
          return new Request(`${url}&key=<%= OS_CLIENT_ID %>`)
        },
        hasAutoMode: true,
        backgroundColor: 'default: #f5f5f0, dark: #162639',
        styles: [{
          name: 'default',
          attribution: `Contains OS data ${String.fromCharCode(169)} Crown copyright and database rights ${(new Date()).getFullYear()}`,
          url: '<%= DEFAULT_URL %>'
        }, {
          name: 'dark',
          attribution: 'Test',
          url: '<%= DARK_URL %>'
        },{
          name: 'aerial',
          attribution: 'MapTiler attribution',
          url: '<%= AERIAL_URL %>',
          logo: null
        },{
          name: 'deuteranopia',
          attribution: 'Test',
          url: '<%= DEUTERANOPIA_URL %>'
        },{
          name: 'tritanopia',
          attribution: 'Test',
          url: '<%= TRITANOPIA_URL %>'
        }],
        search: {
          country: 'england',
          isAutocomplete: true
        },
        queryFeature: {
          layers: ['counties']
        }
      })

      fm.addEventListener('ready', e => {
        const map = fm.map

        map.addSource('counties', {
          type: 'geojson',
          data: '/data/counties.geojson',
          promoteId: 'GlobalID'
        })

        map.addLayer({
          id: 'counties',
          type: 'fill',
          source: 'counties',
          paint: {
            'fill-color': '#00703c',
            'fill-opacity': 0.5
          }
        })
      })

      fm.addEventListener('query', e => {
        const map = fm.map

      })
    </script>
  </body>
</html>