.dm-o-app {
  visibility: visible;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--foreground-color);
  background-color:var(--background-color);
  -webkit-overflow-scrolling: touch;
  touch-action: pan-x pan-y;
}

.dm-is-fullscreen .dm-o-app {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.dm-o-app__overlay,
.dm-o-app__modal {
  pointer-events: none;
}