kbd {
    font-family: var(--kbd-font-family);
    border: var(--kbd-border);
    background-color: var(--kbd-background-color);
    color:  var(--kbd-foreground-color);
    border-radius: var(--kbd-border-radius);
    font-size: var(--kbd-font-size);
    padding: var(--kbd-padding);
}