// ===================================================
// Component: Panel
// ===================================================

@use '../../../scss/tools/index' as tools;

// 1. Base styles
.dm-c-panel {
    @include tools.border-focus-base(
        $is-inset: false,
        $type: panel
    );

    & {
        display: flex;
        flex-direction: column;
        min-height: calc(var(--button-size) + (var(--panel-close-button-gap) * 2));
        max-height: 100vh;
        min-width: var(--min-panel-width);
        pointer-events: auto;
        background-color: var(--background-color);
    }
}

// 2. Elements
.dm-c-panel__heading {
    display: flex;
    padding-top: var(--panel-heading-margin-top);
    padding-right: calc((var(--panel-close-button-gap) * 2) + var(--button-size));
    padding-left: var(--panel-margin);

    color: var(--foreground-color);
}

.dm-c-panel__close {
    @include tools.border-focus-base(
        $is-inset: false,
        $type: button
    );

    & {
        border: 0;
        position: absolute;
        top: var(--panel-close-button-gap);
        right: var(--panel-close-button-gap);

        padding-left: var(--button-padding);
        padding-right: var(--button-padding);

        min-height: var(--button-size);
        min-width: var(--button-size);

        color: var(--foreground-color);
        background-color: transparent;
        cursor: pointer;
    }
}

.dm-c-panel__body {
    padding: var(--panel-margin) var(--panel-margin);
    overflow: auto;
}

.dm-c-panel__close::before {
    content: none;
}

.dm-c-panel__close:hover {
    @media (prefers-reduced-motion: no-preference) {
        transition: background-color var(--duration) ease;
    }

    & {
        background-color: var(--button-hover-color);
    }
}

// 3. Modifiers
.dm-c-panel--bottom {
    @include tools.border-focus-base(
        $is-inset: true,
        $type: panel
    );
    @include tools.border-focus-corner-override(
        $corners: 'top'
    );
}

// When panel heading is visually hidden we need to accomodate the close button
.dm-c-panel__body--offset {
    border: 1px solid red;
}

// 4. State styles

// 5. Responsive tweaks