@mixin link-focus() {
    outline: 3px solid rgba(0, 0, 0, 0);
    color: var(--focus-border-color);
    background-color: var(--focus-outline-color);
    box-shadow: 0 -2px var(--focus-outline-color), 0 4px var(--focus-border-color);
    text-decoration: none;
}